.primary-nav {
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
  }

  a {
    background-color: rgba($mainBlue, 0.5);
    color: $white;
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    padding:24px 1rem;
    text-decoration: none;

    @mixin atMedium {
      background-color: transparent;
      font-size: 1rem;
      padding:12px 1.5rem;

      &.is-current-link {
        color: #faab69;
        text-transform: uppercase;
      }
    }
  }
}
